.sign-in {
	background-image: url([resources:clarity-sign-in-image.png]);
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}

.sign-in-form .sign-in-text {
	font-family: var(--font-family-base);
	line-height: 1.25;
}

@media (max-width: 1340px) {
	.form-box {
		width: 60%;
	}
}

@media (max-width: 992px) {
	.form-box {
		padding: var(--spacer-5) var(--spacer-5) var(--spacer-3);
		width: 100%;
	}
}

@media (max-width: 576px) {
	.form-box {
		padding: var(--spacer-3);
	}

	.sign-in-form .sign-in-text {
		font-size: 36px;
		margin-bottom: var(--spacer-4);
	}
	
	.sign-in-form button {
		margin-bottom: var(--spacer-4);
	}
}