.announcement-banner a,
.announcement-banner a:hover,
.announcement-banner a:visited,
.announcement-banner a:active {
    color: var(--color-action-primary-inverted);
    font-weight: var(--font-weight-bold);
    font-size: 14px;
	cursor: pointer;
}

.announcement-banner-close-button {
	cursor: pointer;
	right: var(--spacer-3);
	top: 50%;
	transform: translateY(-50%);
}