.flex-search-elements {
  display: flex;
  align-items: center;
}

.flex-child-element {
  flex: auto;
}

.flex-child-element:first-child {
  margin-right: 7px;
}

.clarity-search-icon {
	padding-right: 7px;
}
